
//
// HEADER
//_____________________________________________________________
//

header {
	max-width: 66.688em;
	margin: auto;
	padding: 2em 0.5em;

	.logo {
		display: flex;
	}

	.contact {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		a {
		margin: 0;
		padding: 0.5em 2em;
		color: $color-orange;
	}

		:last-child {
			border: 1px solid lightgrey;
			padding: 0.5em 1em;
			border-radius: 1.250em;
			font-size: 0.750em;
		}
	}
}


.pure-menu {
	display: flex;
	justify-content: center;
	background-color: $color-light-grey;
}

.pure-menu-link {
	padding: 1em;
}

.responsive-bar {
	display: flex;
	justify-content: center;
	background-color: $color-light-grey;

	h2 {
		color: #777;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 1.5em;
	}
}

//
// SECTION ONE
//_____________________________________________________________
//

.section-one-test {
	background-image: url(../images/cover-img.png);

	.overlay {
		@include background-opacity(#00306B, 0.5);
		width: 100%;
	}

	.content {
		max-width: 66.688em;
		margin: 0 auto;
		padding: 8.750em 0;

		color: $color-white;

		h1 {
				font-size: 2.500em;
				font-weight: 300;
				line-height: 1.5em;
			}

		h2 {
				font-size: 1.125em;
				font-weight: 300;
				line-height: 1.5em;
			}

		button {
			font-size: 0.813em;
			height: 3.615em;
			width: 14.376em;
		}

		.buttons {
			display: flex;

			a {
				color: $color-white;
			}
		}

		.button-secondary {
			display: flex;
			margin-right: 2em;
			padding: 1.2em 2.2em;

			img {
				margin: -0.5em 0 0 1em;
			}
		}

		.button-primary {
			padding: 1em 2.9em;
		}
	}
}

//
// SECTION TWO
//_____________________________________________________________
//

.section-two {

	background-color: #F4F3F3;

	.content {

		color: $color-text-dark;
		max-width: 66.688em;
		margin: 0 auto;
		padding: 5em 0.5em;

		h1 {
			text-align: center;
			font-size: 2.500em;
			font-weight: 300;
			margin: 0;
		}

		h2 {
			margin: auto;
			text-align: center;
			font-size: 1.125em;
			font-weight: 300;
			max-width: 34em;
			line-height: 1.5em;
			margin-bottom: 3em;
		}
		
		ul {

			li {
				margin: 2em 0;

				span {
					margin-right: 1em;
					color: $color-blue-fill;
				}
			}
		}
	}
}

//
// SECTION THREE
//_____________________________________________________________
//

.section-three {

	position: relative;

	.content {

		color: $color-text-dark;
		max-width: 66.688em;
		margin-left: 7%;
		padding: 5em 0.5em;


		h1 {
			text-align: center;
			font-size: 2.500em;
			font-weight: 300;
			margin: 0;
		}

		h2 {
			margin: auto;
			text-align: center;
			font-size: 1.125em;
			font-weight: 300;
			max-width: 34em;
			line-height: 1.5em;
			margin-bottom: 1em;
		}

		h3 {
			padding-left: 40px;
			font-size: 1.375em;
			font-weight: 300;
			}

		ul {

			li {

				display: flex;
				align-items: center;
				font-size: 0.9em;

				:before {
	    			content: '\2022 ';
	    			color: $color-blue-fill;
	    			padding-right: 0.5em;
	    			font-size: 2em;
				}

			}
		}

		button {
			display: flex;
			margin: 2em auto;
		}
		
		.hand-animation {
		    position: absolute;
			width: 444px;
			height: 638px;
			top: 0;
			right: 0;

			img {
				position: absolute;
				right: 0;
				top: 30%;
				z-index: -1;
			}
		}

	}
}


	//
	// Typing animation 
	//--------------------------------------------------------------
	//

	.animation_hand_div	{
		position:absolute;
		top: 30%;
		left: 28.4%;

		:first-child {
		    width: 100px;
		    height: 100px;
		    border: 1px solid $color-blue-fill;
		    border-radius: 50%;
		    position: absolute;
		    -webkit-animation-timing-function: linear;
		    -webkit-animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
		    animation: scaler 8s infinite;
		    animation-timing-function: linear;
		}

		:nth-child(2n) {
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    border: 1px solid $color-blue-fill;
		    position: absolute;
		    -webkit-animation-timing-function: linear;
		    -webkit-animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
		    animation: scaler 8s infinite;
		    animation-timing-function: linear;
		    -webkit-animation-delay: 2s;
		}

		:nth-child(3n) {
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    border: 1px solid $color-blue-fill;
		    position: absolute;
		    -webkit-animation-timing-function: linear;
		    -webkit-animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
		    animation: scaler 8s infinite;
		    animation-timing-function: linear;
		    -webkit-animation-delay: 4s;
		}

		:nth-child(4n) {
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    border: 1px solid $color-blue-fill;
		    position: absolute;
		    -webkit-animation-timing-function: linear;
		    -webkit-animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    -moz-animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    animation: scaler 8s infinite;  /* Chrome, Safari, Opera */
		    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
		    animation: scaler 8s infinite;
		    animation-timing-function: linear;
		    -webkit-animation-delay: 6s;
		}
	}

//
// SECTION FOUR
//_____________________________________________________________
//

.section-four {
	
	background-color: $color-light-grey;

	.content {
		color: $color-text-dark;
		
		max-width: 66.688em;
		margin: 0 auto;
		padding: 5em 0.5em;

		h1 {
			text-align: center;
			font-size: 2.500em;
			font-weight: 300;
			margin: 0;
		}

		.section-four-details {
			display: flex;

			.description {
				padding-left: 2em;
				margin: 2em 0;

				h2 {
					font-size: 1.375em;
					font-weight: 300;
				}

				h3 {
					font-size: 0.938em;
					font-weight: 300;
				}
			}
		}

		button {
				width: 245px;
				font-size: 0.813em;
				margin: 2em 0;
				padding: 1em 2em;
		}

		.button-left {
				text-align: right;
				padding-right: 1em
		}

		.button-right {
				padding-left: 1em
		}

	}

}

//
// SECTION FIVE
//_____________________________________________________________
//

.section-five {
		
	.content {

		color: $color-text-dark;

		max-width: 66.688em;
		margin: 0 auto;
		text-align: center;
		padding: 5em 0.5em;

		h1 {
			font-size: 2.500em;
			font-weight: 300;
			margin: 0;
		}

		.underline {
			margin-bottom: 5em;
		}

		h2 {
			margin: 1em 0;
			font-size: 1.375em;
			font-weight: 300;
		}

		p {
			margin: 1em;
			font-size: 0.938em;
			font-weight: 300;
			line-height: 1.7em;
		}

		.wrapper {
			height: 4.063em;
		}

		.ibm img {
			margin: 0.4em 0 0 0;
		}

		.neumann img {
			margin: -0.5em 0 0 0;
		}

		button {
			margin-top: 4em;
		}

		.more-references {
			margin: 2em 0;
			display: none;
		}

		.more-reference .show-references {
			display: block;
		}
	}
}


//
// SECTION SIX
//_____________________________________________________________
//

.section-six {

	.content {

		color: $color-text-dark;
		
		max-width: 66.688em;
		margin: 0 auto;
		padding: 0 0.5em;
		text-align: center;

		hr {
			margin: 2em 0 1em;
		}

		h1 {
			font-size: 2.500em;
			font-weight: 300;
			margin: 2em 0 0;
		}

		h2 {
			margin: 1em 0;
			font-size: 1.125em;
			font-weight: 300;
		}

		img {
			margin-bottom: 4em;
		}

		h3 {
			text-align: left;
			padding-left: 40px;
			font-size: 1.375em;
			font-weight: 300;
		}

		ul {

			li {

				display: flex;
				align-items: center;

				:before {
	    			content: '\2022 ';
	    			color: $color-blue-fill;
	    			padding-right: 0.5em;
	    			font-size: 2em;
				}
			}
		}

		.pure-form {
			position: relative;
			display: flex;
			margin-top: 4em;

			.pure-input-rounded {
				margin-right: -3em;
				margin-bottom: 0;
				padding: 1em 3em;
			}

			button {
				margin-top: 0;
			}
		}
	}	
}


//
// FOOTER
//
//_____________________________________________________________

footer {

	background-color: $color-light-grey;

	.content {
		color: $color-text-dark;
		max-width: 71.563em;
		width: 100%;
		margin: 0 auto;
		padding: 4em .5em;
		display: flex;

		&:first-child a {
			margin-top: 0;
		}

		a {
			color: $color-text-dark;
			margin-top: 1em;
			margin-right: 3em;
		}

		p {
			font-size: 0.688em;
			margin-top: 1.8em;
		}

		.social-icons {
			display: flex;
			justify-content: center;

			a {
				margin: 0 .5em;
			}
		}

		.content-unit {
			height: 3em;
			display: inherit;
			align-items: center;
			justify-content: center;
		}
	}
}

